node_modules/
dist_packaged/
.env
.env.local
.env.*.local
certs
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# VS Code
.vscode/

# Archivos SCRUM
SCRUM-*.md

# Agentes
.agents
.vercel
.cursor
skills-lock.json
design-system